<%= javascript_tag do %>
  var js_dates = <%= raw @date_meets.to_json %>;
  var date_now = "<%= Date.today %>";
  var date_next = "<%= Date.today.next_day %>";
<% end %>

<%= form_for @user, :url => users_path(@user) do |f| %>
  Designer : 
  <%= f.collection_select :designer_id, @designers, :id, :name, include_blank: true %>
  <%= f.hidden_field :date, :value => "" %>
  <% i = 0 %>
  <div>
  <% @date_meets.each do |el| %>
    <% if el.date.to_date == Date.today.to_date %>
      <% i+=1 %>
      <%= i %>
      <%= el.date.to_date %>
      <div id="date_time_1">
      </div>
    <% else %>
    <% i+=1 %>
      <%= i %>
      <%= el.date.to_date %>
      <div id="date_time_2">
      </div>
    <% end %>
  <% end %>
  </div>
  Place : <%= f.text_field :place %>
  Surname : <%= f.text_field :surname %>
  Name : <%= f.text_field :name %>
  DadName : <%= f.text_field :dad_name %>
  Phone : <%= f.text_field :phone %>
  Email : <%= f.text_field :email %>
  <%= f.submit %>
<% end %>

<%= Date.today %>

<% flash.each do |key, msg| %>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<% end %>

