<%= javascript_tag do %>
  var js_dates = <%= raw @date_meets.to_json %>;
  var designer_id = <%= @date_meet.designer.id %>;
<% end %>

<%= form_for @date_meet, :url => date_meets_path(@date_meet) do |f| %>
  
  <%= f.hidden_field :designer_id,  :value => @date_meet.designer.id %>
  <%= @date_meet.designer.name %>
  
  <%= f.label :date %>
  <%= text_field "datepicker","id", :value => "" %>
  <%= f.hidden_field :date, :value => 'ad' %>
  
  <% (8..22).each do |timeNo| %>
    <%= f.label :"time_#{timeNo}" %>
    <%= check_box_tag "date_meet[time_#{timeNo}]" %>
  <% end %>

  <%= f.submit %>
<% end %>


<% flash.each do |key, msg| %>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<% end %>